email;username;name;title;groups
optimus.prime@example.com;optimus_prime;Optimus Prime;Autobots Supreme Commander;action_masters,autorollers
megatron@example.com;megatron;Megatron;Decepticon Super Commander;action_masters,basic_beasts
